PORT=3000
NODE_ENV=production
ACCESS_CODE=
XAI_API_KEY=
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
TREASURY_SOL_ADDRESS=9MeQ5XiESSZPUVNzqKQjB9JYEWZScH1shwsbQMfYUTRU
CESSION_PROGRAM_ID=Epxb6TRhGwT1gQFj5xCLM6KtZUz9ajD7jZzkVrp3qBR9
CORS_ORIGIN=https://cession.fun,https://www.cession.fun,https://cession.us,https://www.cession.us
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
COINBASE_ONRAMP_APP_ID=
